.not-found {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
}

.not-found__title {
  display: block;
  color: #131212;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.1875;
}

.not-found__link {
  display: block;
  padding: 16px 20px 13px;
  color: #fff;
  background-color: #131212;
  border-radius: 3px;
}
